.pacott-child {
  position: absolute;
  top: 15701px;
  left: 0;
  background-color: #efefef;
  width: 1440px;
  height: 231px;
}
.pacott-inner,
.pacott-item {
  position: absolute;
  background-color: var(--color-gray-600);
  width: 1440px;
}
.pacott-item {
  top: 0;
  left: 0;
  height: 111px;
}
.pacott-inner {
  top: 9364px;
  left: calc(50% - 720px);
  height: 6337px;
}
.pacott-logo-icon {
  position: absolute;
  top: 30px;
  left: 192px;
  width: 173.37px;
  height: 50px;
}
.b,
.div,
.div1,
.div2 {
  position: absolute;
  text-align: center;
}
.b {
  top: 157px;
  left: calc(50% - 512px);
  font-size: var(--font-size-53xl);
  display: inline-block;
  color: var(--color-black);
  width: 1023px;
}
.div,
.div1,
.div2 {
  top: 44px;
  left: 676px;
  font-weight: 600;
}
.div1,
.div2 {
  left: 880px;
}
.div2 {
  left: 1082px;
}
.group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 528px);
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1056px;
  height: 507px;
}
.p,
.p1 {
  margin: 0;
}
.p1 {
  font-weight: 500;
}
.div3 {
  position: absolute;
  top: calc(50% - 114.5px);
  left: calc(50% - 472px);
  line-height: 140%;
  display: inline-block;
  width: 945px;
}
.group-item {
  position: absolute;
  top: 342px;
  left: 340px;
  max-height: 100%;
  width: 508px;
}
.div4 {
  position: absolute;
  top: 52px;
  left: 937px;
  font-size: 74.59px;
  font-weight: 500;
}
.rectangle-parent {
  position: absolute;
  top: 411px;
  left: calc(50% - 528px);
  width: 1056px;
  height: 507px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-tomato-100);
  width: 1056px;
  height: 666px;
}
.b1,
.div5 {
  position: absolute;
  top: 343px;
  left: 65px;
  display: inline-block;
  width: 950px;
}
.div5 {
  top: 159px;
  font-size: 76px;
  line-height: 90px;
  font-weight: 800;
  color: var(--color-sienna);
  width: 926px;
}
.rectangle-group {
  position: absolute;
  top: 1707px;
  left: 192px;
  width: 1056px;
  height: 666px;
  font-size: 67px;
}
.div6 {
  position: relative;
  font-weight: 500;
}
.wrapper {
  position: absolute;
  top: 808px;
  left: calc(50% - 130px);
  border-radius: var(--br-11xl);
  background-color: var(--color-tomato-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-11xl);
  font-family: var(--font-fixel-display);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-600);
  width: 512px;
  height: 666px;
}
.div7,
.div8 {
  position: absolute;
  top: 474px;
}
.div7 {
  left: 168px;
  display: inline-block;
  width: 278px;
}
.div8 {
  left: 34px;
  color: var(--color-gray-100);
}
.div8,
.span {
  font-weight: 500;
}
.span1 {
  font-weight: 300;
}
.div10,
.div9 {
  position: absolute;
}
.div9 {
  top: 585px;
  left: 117px;
  font-size: var(--font-size-5xl);
}
.div10 {
  top: 32px;
  left: 32px;
  font-weight: 500;
  font-family: var(--font-fixel-display);
  color: var(--color-orange-100);
}
.ellipse-icon {
  position: absolute;
  top: 561px;
  left: 24px;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  object-fit: cover;
}
.span2 {
  white-space: pre-wrap;
}
.span3 {
  color: var(--color-tomato-200);
}
.div11 {
  position: absolute;
  top: 140px;
  left: 32px;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  width: 455px;
}
.group-child1,
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 512px;
  height: 666px;
}
.group-child1 {
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
}
.telegram-cloud-document-2-5294,
.telegram-cloud-document-2-52941 {
  position: absolute;
  top: 0;
  left: 35.02px;
  border-radius: var(--br-11xl);
  background-color: #f5f0ed;
  width: 381px;
  height: 506.92px;
  transform: rotate(3.34deg);
  transform-origin: 0 0;
}
.telegram-cloud-document-2-52941 {
  top: 9.67px;
  left: 19.66px;
  background-color: #dbcec6;
  height: 508.5px;
  transform: rotate(1.99deg);
}
.telegram-cloud-document-2-5294-icon {
  position: absolute;
  top: 26.03px;
  left: 0;
  border-radius: var(--br-11xl);
  width: 381px;
  height: 505.18px;
  object-fit: cover;
}
.telegram-cloud-document-2-5294-parent {
  position: absolute;
  top: 67px;
  left: 48px;
  width: 415.37px;
  height: 531.2px;
}
.group-div,
.group-parent {
  position: absolute;
  top: 0;
  left: 540px;
  width: 512px;
  height: 666px;
}
.group-parent {
  top: 2397px;
  left: 194px;
  width: 1052px;
  font-size: var(--font-size-xl);
}
.telegram-cloud-document-2-52942 {
  top: 0;
  left: 38.78px;
  background-color: #d1d8e8;
  transform: rotate(3.34deg);
  transform-origin: 0 0;
}
.telegram-cloud-document-2-5294-icon1,
.telegram-cloud-document-2-52942,
.telegram-cloud-document-2-52943 {
  position: absolute;
  border-radius: var(--br-11xl);
  width: 381px;
  height: 571.43px;
}
.telegram-cloud-document-2-52943 {
  top: 11.17px;
  left: 21.84px;
  background-color: #e3e7ee;
  transform: rotate(1.99deg);
  transform-origin: 0 0;
}
.telegram-cloud-document-2-5294-icon1 {
  top: 24.17px;
  left: 0;
  object-fit: cover;
}
.telegram-cloud-document-2-5294-group {
  position: absolute;
  top: 22.83px;
  left: 46px;
  width: 419.13px;
  height: 595.6px;
}
.div15 {
  position: absolute;
  top: 32px;
  left: 32px;
  font-weight: 500;
  font-family: var(--font-fixel-display);
  color: var(--color-tomato-100);
}
.span6 {
  color: var(--color-yellow);
}
.div16 {
  position: absolute;
  top: 106px;
  left: 34px;
  font-size: var(--font-size-9xl);
  font-weight: 500;
  display: inline-block;
  width: 443px;
}
.group-container {
  position: absolute;
  top: 3087px;
  left: 194px;
  width: 1052px;
  height: 666px;
  font-size: var(--font-size-xl);
}
.icon {
  top: 60.19px;
  left: 29.76px;
  width: 58.52px;
  height: 42.47px;
  object-fit: cover;
}
.b2,
.icon,
.icon1 {
  position: absolute;
}
.icon1 {
  top: 59.41px;
  left: 124.72px;
  width: 57.94px;
  height: 43.22px;
  object-fit: cover;
}
.b2 {
  top: 17.72px;
  left: calc(50% - 51.94px);
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.slide-169-12-child,
.slide-169-12-item {
  position: absolute;
  top: 53.83px;
  left: calc(50% - 84.04px);
  max-height: 100%;
  width: 84.04px;
}
.slide-169-12-item {
  left: calc(50% - 0px);
}
.b3 {
  position: absolute;
  top: 40.91px;
  left: calc(50% - 4.01px);
  font-size: 4.46px;
  letter-spacing: 0.01em;
  color: #949494;
}
.span7 {
  color: var(--color-white);
}
.div17,
.div18 {
  position: absolute;
  top: 38.12px;
  left: 22.96px;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--color-tomato-200);
}
.div18 {
  left: 116.36px;
  color: var(--color-yellow);
}
.slide-169-12-inner {
  position: absolute;
  top: 49.6px;
  left: calc(50% - 0.11px);
  border-right: 0.2px solid #f5f5f5;
  box-sizing: border-box;
  width: 0.22px;
  height: 8.81px;
}
.slide-169-12 {
  position: absolute;
  top: 271px;
  left: 258px;
  background-color: var(--color-gray-400);
  width: 218px;
  height: 122.63px;
  overflow: hidden;
  color: #c9c9c9;
}
.p7 {
  margin-block-start: 0;
  margin-block-end: 0.22px;
}
.b4,
.icon2 {
  position: absolute;
}
.b4 {
  top: 92.18px;
  left: calc(50% - 52.72px);
  line-height: 140%;
  text-transform: uppercase;
}
.icon2 {
  top: 11.26px;
  left: calc(50% - 24.19px);
  width: 48.42px;
  height: 75.88px;
  object-fit: cover;
}
.slide-169-8 {
  position: absolute;
  top: 271.34px;
  left: 36px;
  background-color: var(--color-gray-400);
  width: 218px;
  height: 122.63px;
  overflow: hidden;
  text-align: center;
  font-size: 5.35px;
}
.div19 {
  position: absolute;
  top: 197.08px;
  left: calc(50% - 65.08px);
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 100;
}
.slide-169-1-child {
  position: absolute;
  top: calc(50% - 78.15px);
  left: calc(50% - 60.73px);
  border-radius: 11.46px;
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 121.46px;
  height: 145.06px;
}
.div20,
.icon3 {
  position: absolute;
}
.icon3 {
  top: calc(50% - 101.75px);
  left: calc(50% - 55.23px);
  width: 110.53px;
  height: 184.71px;
  object-fit: cover;
}
.div20 {
  top: 31.17px;
  left: calc(50% + 20.4px);
  font-size: 9.17px;
  line-height: 140%;
  font-weight: 300;
  color: #c3c3c3;
  text-align: center;
}
.image-4-icon,
.slide-169-1 {
  position: absolute;
  width: 440px;
}
.slide-169-1 {
  top: 20px;
  left: 36px;
  background-color: var(--color-gray-400);
  height: 247.5px;
  overflow: hidden;
  font-size: 20.63px;
}
.image-4-icon {
  top: -22.92px;
  left: 0;
  height: 293.33px;
  object-fit: cover;
}
.b5 {
  position: absolute;
  top: calc(50% - 11.69px);
  left: calc(50% - 150.56px);
  line-height: 140%;
  text-transform: uppercase;
  text-shadow: 0 1.8333333730697632px 2.29px rgba(0, 0, 0, 0.25);
}
.slide-169-4 {
  position: absolute;
  top: 398.56px;
  left: 36px;
  background-color: var(--color-white);
  width: 440px;
  height: 247.5px;
  overflow: hidden;
  font-size: 16.5px;
}
.frame-icon {
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: var(--br-11xl);
  width: 142.7px;
  height: 79.47px;
  object-fit: contain;
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-orange-100);
  width: 512px;
  height: 666px;
}
.div21,
.div22 {
  position: absolute;
  top: 463px;
  left: 41px;
}
.div22 {
  left: 165px;
  color: var(--color-black);
  display: inline-block;
  width: 325px;
}
.p10 {
  margin: 0;
  font-weight: 300;
}
.div23 {
  position: absolute;
  top: 576px;
  left: 117px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.span10 {
  font-weight: 600;
}
.span11 {
  font-family: var(--font-manrope);
}
.wow {
  position: absolute;
  top: 106px;
  left: 31px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 449px;
  color: #150e01;
}
.group-child7 {
  position: absolute;
  top: 562px;
  left: 24px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.div24 {
  position: absolute;
  top: 32px;
  left: 32px;
  font-weight: 500;
  font-family: var(--font-fixel-display);
}
.rectangle-parent4 {
  top: 0;
  left: 542px;
  width: 512px;
  font-size: var(--font-size-xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-manrope);
}
.group-child8,
.group-parent1,
.rectangle-parent4 {
  position: absolute;
  height: 666px;
}
.group-parent1 {
  top: 4467px;
  left: 194px;
  width: 1054px;
  font-size: 5.57px;
  font-family: var(--font-helvetica-neue);
}
.group-child8 {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1052px;
}
.span12 {
  color: var(--color-black);
}
.div25 {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: var(--font-size-9xl);
  display: inline-block;
  width: 502px;
  color: #f90;
}
.div26 {
  top: 425px;
  left: 64px;
  color: #6d6d6d;
}
.div26,
.div27,
.div28 {
  position: absolute;
}
.div27 {
  top: 425px;
  left: 188px;
  display: inline-block;
  width: 363px;
}
.div28 {
  top: 566px;
  left: 153px;
  font-size: var(--font-size-5xl);
}
.group-child9 {
  position: absolute;
  top: 552px;
  left: 60px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.a4-1-1,
.a4-11-1,
.icon4 {
  position: absolute;
  top: 33px;
  left: 751px;
  width: 265.93px;
  height: 376.32px;
  object-fit: cover;
}
.a4-1-1,
.icon4 {
  top: 202px;
  left: 695px;
}
.icon4 {
  top: 362px;
  left: 623px;
  width: 273px;
  height: 273px;
}
.rectangle-parent5 {
  position: absolute;
  top: 5157px;
  left: 192px;
  width: 1052px;
  height: 666px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: #1e73be;
  width: 512px;
  height: 666px;
}
.div29,
.div30 {
  position: absolute;
  top: 490px;
}
.div29 {
  left: 166px;
  font-family: var(--font-fixel-display);
  display: inline-block;
  width: 278px;
}
.div30 {
  left: 32px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: #cbd0da;
}
.span23 {
  font-weight: 500;
  font-family: var(--font-manrope);
}
.div31 {
  position: absolute;
  top: 569px;
  left: 117px;
}
.b6,
.div32 {
  position: absolute;
  left: 32px;
}
.div32 {
  top: 32px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-fixel-display);
  color: #acd1ff;
}
.b6 {
  top: 136px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  white-space: pre-wrap;
  width: 445px;
}
.image-16-icon,
.image-17-icon,
.image-18-icon {
  position: absolute;
  top: 29px;
  left: 218px;
  border-radius: var(--br-3xl);
  width: 267px;
  height: 262.18px;
  object-fit: cover;
}
.image-17-icon,
.image-18-icon {
  top: 171px;
  left: 28px;
  height: 239.56px;
}
.image-17-icon {
  top: 392px;
  left: 122px;
  height: 254.95px;
}
.group-parent2 {
  position: absolute;
  top: 5847px;
  left: 192px;
  width: 1052px;
  height: 666px;
}
.group-child13 {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-600);
  width: 1056px;
  height: 666px;
}
.b7,
.container,
.group-child13 {
  position: absolute;
}
.b7 {
  top: 67px;
  left: 65px;
}
.container {
  top: 546px;
  left: calc(50% - 16px);
  border-radius: var(--br-11xl);
  background-color: var(--color-tomato-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-base);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-fixel-display);
}
.pacott-inner1,
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1056px;
  height: 666px;
}
.pacott-inner1 {
  top: 6537px;
  left: 192px;
  font-size: var(--font-size-29xl);
  color: var(--color-goldenrod);
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  width: 336px;
  height: 927px;
}
.div34 {
  position: absolute;
  top: 20px;
  left: 132px;
  font-size: var(--font-size-53xl);
  font-family: var(--font-malayalam-mn);
}
.li {
  margin-bottom: 0;
}
.lms- {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.c {
  font-weight: 600;
  font-family: var(--font-manrope);
}
.lms-container {
  position: absolute;
  top: 239px;
  left: 31px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 286px;
}
.div35 {
  top: 149px;
  left: 34px;
  font-size: var(--font-size-base);
  text-align: center;
  display: inline-block;
  width: 269px;
}
.div35,
.div36,
.div37 {
  position: absolute;
}
.div36 {
  top: 108px;
  left: 69px;
  font-weight: 800;
}
.div37 {
  top: 0;
  left: calc(50% - 119.5px);
  font-weight: 500;
}
.iconamoonarrow-left-2-duotone {
  position: absolute;
  top: 2px;
  left: 215px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: contain;
}
.parent {
  position: absolute;
  top: 868px;
  left: calc(50% - 120px);
  width: 239px;
  height: 29px;
  color: var(--color-crimson);
  font-family: var(--font-fixel-display);
}
.rectangle-parent9 {
  position: absolute;
  top: 7227px;
  left: 912px;
  width: 336px;
  height: 927px;
  color: var(--color-black);
}
.c-3-4-container {
  top: 261px;
  left: 33px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 286px;
}
.c-3-4-container,
.div39,
.div40 {
  position: absolute;
}
.div39 {
  top: 149px;
  left: 33px;
  font-size: var(--font-size-base);
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
  width: 269px;
}
.div40 {
  top: 108px;
  left: 64px;
  font-weight: 800;
}
.rectangle-parent10 {
  position: absolute;
  top: 7227px;
  left: 552px;
  width: 336px;
  height: 927px;
  color: var(--color-black);
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  width: 336px;
  height: 627px;
}
.c-3-6-container {
  top: 217px;
  left: 25px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 286px;
}
.c-3-6-container,
.div43,
.parent1 {
  position: absolute;
}
.div43 {
  top: 149px;
  left: 33px;
  font-size: var(--font-size-base);
  text-align: center;
  display: inline-block;
  width: 269px;
}
.parent1 {
  top: 574px;
  left: calc(50% - 121px);
  width: 239px;
  height: 29px;
  color: var(--color-crimson);
  font-family: var(--font-fixel-display);
}
.rectangle-parent11 {
  position: absolute;
  top: 7227px;
  left: 192px;
  width: 336px;
  height: 627px;
  color: var(--color-black);
}
.group-child17 {
  top: 0;
  left: calc(50% - 528px);
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-600);
  width: 1056px;
  height: 741px;
}
.div46,
.div47,
.group-child17 {
  position: absolute;
}
.div46 {
  top: calc(50% - 246.5px);
  left: calc(50% + 28px);
  font-weight: 600;
  display: inline-block;
  width: 419px;
}
.div47 {
  top: 0;
  left: calc(50% - 206.5px);
  font-weight: 500;
}
.iconamoonarrow-left-2-duotone3 {
  position: absolute;
  top: calc(50% - 26px);
  left: 361px;
  width: 52px;
  height: 52px;
  overflow: hidden;
  object-fit: contain;
}
.parent2 {
  position: absolute;
  top: 559px;
  left: calc(50% + 28px);
  width: 413px;
  height: 58px;
  font-size: var(--font-size-5xl);
  color: var(--color-tomato-100);
  font-family: var(--font-fixel-display);
}
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: calc(50% - 528px);
  width: 1056px;
  height: 741px;
  font-size: var(--font-size-29xl);
  color: var(--color-lightgray-100);
}
.div49 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.div48,
.div50 {
  position: relative;
}
.div48 {
  width: 40px;
  height: 40px;
}
.div50 {
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-white);
}
.tag,
.tag1 {
  top: 411px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.tag {
  position: absolute;
  left: 346px;
}
.tag1 {
  left: 112px;
}
.tag1,
.tag2,
.tag3 {
  position: absolute;
}
.tag2 {
  top: 198px;
  left: 267px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.tag3 {
  top: 127px;
  left: 302px;
}
.tag3,
.tag4,
.tag5 {
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.tag4 {
  position: absolute;
  top: 482px;
  left: 234px;
}
.tag5 {
  top: 269px;
  left: 320px;
}
.div70,
.tag5,
.tag6 {
  position: absolute;
}
.tag6 {
  top: 269px;
  left: 94px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.div70 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tag7,
.tag8,
.tag9 {
  position: absolute;
  top: 482px;
  left: 75px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.tag8,
.tag9 {
  top: 553px;
  left: 155px;
}
.tag9 {
  top: 340px;
  left: 294px;
}
.group-parent3 {
  position: absolute;
  top: 942px;
  left: calc(50% - 528px);
  width: 1056px;
  height: 741px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.group-child18 {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1054px;
  height: 666px;
}
.b8,
.frame,
.group-child18 {
  position: absolute;
}
.frame {
  top: 552px;
  left: calc(50% + 74px);
  border-radius: var(--br-11xl);
  background-color: var(--color-tomato-200);
  width: 381px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-11xl);
  box-sizing: border-box;
  font-family: var(--font-fixel-display);
}
.b8 {
  top: 153px;
  left: 74px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  width: 910px;
  color: var(--color-gray-700);
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.div81,
.ellipse-parent {
  position: absolute;
  top: 25px;
  left: 86px;
}
.ellipse-parent {
  top: 531px;
  left: 72px;
  width: 273px;
  height: 80px;
  color: var(--color-black);
}
.b9 {
  position: absolute;
  top: 27px;
  left: 66px;
  font-size: 128px;
  color: var(--color-lightgray-100);
}
.group-child20,
.rectangle-parent13 {
  position: absolute;
  top: 3777px;
  left: 192px;
  width: 1054px;
  height: 666px;
}
.group-child20 {
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-tomato-100);
  width: 1056px;
  height: 311px;
}
.div82 {
  position: absolute;
  top: 122px;
  left: calc(50% - 320px);
  font-weight: 500;
}
.b10,
.frame-div {
  position: absolute;
  top: 48px;
  left: calc(50% - 384px);
  font-size: var(--font-size-29xl);
  color: var(--color-sienna);
}
.frame-div {
  top: 203px;
  left: calc(50% - 187px);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-base);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
  font-family: var(--font-fixel-display);
}
.rectangle-parent14 {
  position: absolute;
  top: 8218px;
  left: 194px;
  width: 1056px;
  height: 311px;
  font-size: var(--font-size-13xl);
}
.pacott-child1 {
  position: absolute;
  top: 8594px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 770px;
}
.b11,
.div84,
.div85,
.div86,
.div87,
.div88 {
  position: absolute;
  color: var(--color-black);
}
.b11 {
  top: 8627px;
  left: 448px;
  font-size: var(--font-size-45xl);
}
.div84,
.div85,
.div86,
.div87,
.div88 {
  top: 8875px;
  left: 192px;
  font-weight: 600;
}
.div85,
.div86,
.div87,
.div88 {
  top: 8972px;
}
.div86,
.div87,
.div88 {
  top: 9069px;
}
.div87,
.div88 {
  top: 9166px;
}
.div88 {
  top: 8778px;
}
.line-div,
.pacott-child2,
.pacott-child3,
.pacott-child4 {
  position: absolute;
  top: 8823.5px;
  left: 191.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1057px;
  height: 1px;
}
.pacott-child2,
.pacott-child3,
.pacott-child4 {
  top: 8920.5px;
}
.pacott-child3,
.pacott-child4 {
  top: 9017.5px;
}
.pacott-child4 {
  top: 9114.5px;
}
.iconamoonarrow-left-2-duotone4,
.iconamoonarrow-left-2-duotone5 {
  position: absolute;
  top: 8775px;
  left: 1183px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: contain;
}
.iconamoonarrow-left-2-duotone5 {
  top: 8872px;
}
.iconamoonarrow-left-2-duotone6,
.iconamoonarrow-left-2-duotone7,
.iconamoonarrow-left-2-duotone8 {
  position: absolute;
  top: 8969px;
  left: 1183px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: contain;
}
.iconamoonarrow-left-2-duotone7,
.iconamoonarrow-left-2-duotone8 {
  top: 9066px;
}
.iconamoonarrow-left-2-duotone8 {
  top: 9163px;
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-goldenrod);
  width: 1056px;
  height: 724px;
}
.div89,
.div90,
.div91 {
  position: absolute;
  top: 348px;
  font-weight: 600;
  display: inline-block;
}
.div89 {
  left: calc(50% - 101px);
  width: 212px;
}
.div90,
.div91 {
  left: 112px;
  width: 232px;
}
.div91 {
  left: 722px;
  white-space: pre-wrap;
  width: 226px;
}
.b12,
.div92 {
  position: relative;
}
.div92 {
  font-size: var(--font-size-5xl);
}
.parent3 {
  top: 129px;
  left: calc(50% - 423px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 846px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.div93,
.div94,
.parent3 {
  position: absolute;
  text-align: left;
}
.div93 {
  top: 77px;
  left: calc(50% - 180px);
  font-size: var(--font-size-5xl);
  color: #0d0d0c;
}
.div94 {
  top: 81px;
  left: 879px;
  font-size: 96px;
  font-family: var(--font-fixel-display);
}
.ellipse-div,
.group-child22,
.group-child23 {
  position: absolute;
  top: 330.67px;
  left: calc(50% - 129px);
  border-radius: 50%;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 273.06px;
  height: 120.59px;
  transform: rotate(-5.05deg);
  transform-origin: 0 0;
}
.group-child22,
.group-child23 {
  top: 332.64px;
  left: calc(50% - 453px);
  width: 295.49px;
  height: 129.64px;
}
.group-child23 {
  top: 338.66px;
  left: calc(50% + 173.1px);
  width: 264.64px;
  height: 126.62px;
  transform: rotate(-4.34deg);
}
.div95 {
  position: relative;
  font-weight: 600;
}
.wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-tomato-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 89px;
}
.frame-wrapper,
.group-child24 {
  position: absolute;
  top: 0;
  width: 291px;
}
.frame-wrapper {
  left: 614px;
  height: 65px;
  color: var(--color-white);
}
.group-child24 {
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  height: 66px;
}
.email {
  position: absolute;
  top: 16px;
  left: 34px;
}
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 307px;
  width: 291px;
  height: 66px;
}
.div96 {
  position: absolute;
  top: 16px;
  left: 37px;
}
.group-parent4,
.rectangle-parent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 291px;
  height: 66px;
}
.group-parent4 {
  top: 537px;
  left: 77px;
  width: 905px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-100);
}
.span31 {
  text-decoration: underline;
}
.div97 {
  position: absolute;
  bottom: 55px;
  left: calc(50% - 440px);
  font-size: 14px;
}
.rectangle-parent15 {
  position: absolute;
  top: 11550px;
  left: 192px;
  width: 1056px;
  height: 724px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-goldenrod);
  width: 520px;
  height: 314px;
}
.group-child27,
.group-child28,
.group-child29 {
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-300);
  width: 520px;
  height: 314px;
}
.group-child27 {
  position: absolute;
  top: 0;
  left: 536.09px;
}
.group-child28,
.group-child29 {
  top: 324px;
}
.group-child28 {
  position: absolute;
  left: 0;
}
.group-child29 {
  left: 536.09px;
}
.b13,
.b14,
.b15,
.group-child29 {
  position: absolute;
}
.b13 {
  top: 70px;
  left: 93px;
  display: inline-block;
  color: var(--color-gray-600);
  width: 333px;
}
.b14,
.b15 {
  top: 25px;
  left: 601px;
}
.b15 {
  top: 348px;
}
.b16,
.div98,
.div99 {
  position: absolute;
  top: 356px;
  left: 64px;
}
.div98,
.div99 {
  top: 164px;
  left: 601px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 390px;
}
.div99 {
  top: 495px;
  left: 65px;
}
.b17,
.b18,
.b19,
.div100 {
  position: absolute;
  left: 601px;
}
.div100 {
  top: 481px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 390px;
}
.b17,
.b18,
.b19 {
  top: 112px;
  font-size: var(--font-size-13xl);
  color: var(--color-orange-100);
}
.b18,
.b19 {
  top: 443px;
  left: 65px;
}
.b19 {
  top: 429px;
  left: 601px;
}
.rectangle-parent18 {
  position: absolute;
  top: 10198px;
  left: 192px;
  width: 1056.09px;
  height: 638px;
  font-size: var(--font-size-45xl);
  color: var(--color-goldenrod);
}
.span32 {
  color: var(--color-sienna);
}
.p25 {
  margin: 0;
  white-space: pre-wrap;
}
.b20 {
  position: absolute;
  top: 183px;
  left: 65px;
  display: inline-block;
  width: 950px;
}
.rectangle-parent19 {
  position: absolute;
  top: 10860px;
  left: 192px;
  width: 1056px;
  height: 666px;
  font-size: 44px;
}
.group-child31 {
  position: absolute;
  top: 0;
  left: calc(50% - 528px);
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 1056px;
  height: 741px;
}
.div101 {
  position: absolute;
  top: calc(50% - 225.5px);
  left: 96px;
  font-weight: 600;
  display: inline-block;
  width: 882px;
}
.rectangle-parent20 {
  position: absolute;
  top: 0;
  left: calc(50% - 528px);
  width: 1056px;
  height: 741px;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-600);
}
.div104 {
  position: relative;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 500;
}
.tag10,
.tag11,
.tag12 {
  position: absolute;
  top: 526px;
  left: 80px;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.tag11,
.tag12 {
  top: 592px;
  left: 428px;
}
.tag12 {
  left: 646px;
}
.tag13 {
  top: 526px;
  left: 316px;
}
.tag13,
.tag14,
.tag15,
.tag16 {
  position: absolute;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.tag14 {
  top: 592px;
  left: 155px;
  overflow: hidden;
}
.tag15,
.tag16 {
  top: 526px;
  left: 773px;
}
.tag16 {
  left: 508px;
}
.group-parent5 {
  position: absolute;
  top: 9444px;
  left: calc(50% - 528px);
  width: 1056px;
  height: 741px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.pacott-child5,
.pacott-child6,
.pacott-child7 {
  position: absolute;
  top: 12298px;
  left: 192px;
  border-radius: var(--br-31xl);
  background-color: #bb4336;
  width: 523px;
  height: 666px;
}
.pacott-child6,
.pacott-child7 {
  top: 13676px;
  background-color: #706410;
}
.pacott-child7 {
  left: 726px;
  background-color: #97871d;
}
.b21 {
  position: absolute;
  top: 13776px;
  left: 796px;
  font-size: var(--font-size-29xl);
  color: var(--color-cornsilk);
}
.pacott-child10,
.pacott-child8,
.pacott-child9 {
  position: absolute;
  top: 12298px;
  left: 725px;
  border-radius: var(--br-31xl);
  background-color: #e95444;
  width: 523px;
  height: 666px;
}
.pacott-child10,
.pacott-child9 {
  top: 12988px;
  left: 192px;
  background-color: #506485;
}
.pacott-child10 {
  left: 725px;
  background-color: #394760;
}
.a,
.a1 {
  text-decoration: underline;
  font-weight: 700;
  color: var(--color-cornsilk);
}
.a {
  position: absolute;
  top: 13586px;
  left: 796px;
}
.a1 {
  top: 14276px;
  left: 242px;
}
.a1,
.a2,
.icon5 {
  position: absolute;
}
.a2 {
  top: 12880px;
  left: 242px;
  text-decoration: underline;
  font-weight: 700;
  color: var(--color-cornsilk);
}
.icon5 {
  top: 13145px;
  left: 199px;
  border-radius: 0 0 var(--br-21xl) var(--br-21xl);
  width: 510px;
  height: 509.12px;
  object-fit: cover;
}
.div124,
.div125 {
  position: absolute;
  font-size: var(--font-size-3xl);
}
.div124 {
  top: 13083px;
  left: 796px;
  color: var(--color-cornsilk);
  display: inline-block;
  width: 397px;
}
.div125 {
  top: 13817px;
  width: 423px;
}
.b22,
.div125,
.div126 {
  left: 242px;
  display: inline-block;
  color: var(--color-cornsilk);
}
.div126 {
  position: absolute;
  top: 12415px;
  font-size: var(--font-size-3xl);
  width: 424px;
}
.b22 {
  top: 13032px;
  font-size: var(--font-size-21xl);
  width: 378px;
}
.b22,
.b23,
.icon6 {
  position: absolute;
}
.b23 {
  top: 12402px;
  left: 762px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  color: var(--color-cornsilk);
  width: 378px;
}
.icon6 {
  top: 12468px;
  left: 742px;
  width: 489.93px;
  height: 465.77px;
  object-fit: cover;
}
.div127,
.div128 {
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 600;
}
.div127 {
  position: absolute;
  top: 12343px;
  left: 242px;
  color: #450d02;
}
.div128 {
  top: 13032px;
  left: 796px;
  color: #788fb5;
}
.div128,
.div129,
.icon7 {
  position: absolute;
}
.div129 {
  top: 13722px;
  left: 242px;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  font-weight: 600;
  color: #2f2900;
}
.icon7 {
  top: 13858px;
  left: 748px;
  width: 480.3px;
  height: 470px;
  object-fit: cover;
}
.group-child32 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightgray-100);
  width: 1057px;
  height: 500px;
}
.b24 {
  position: absolute;
  top: 37px;
  left: 50px;
}
.group-child33,
.group-child34,
.group-child35 {
  position: absolute;
  top: 159px;
  left: 50px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 949px;
  height: 84px;
}
.group-child34,
.group-child35 {
  top: 259px;
}
.group-child35 {
  top: 359px;
  left: 48px;
  background-color: var(--color-tomato-200);
  width: 475px;
}
.rectangle-parent21 {
  position: absolute;
  top: 15050px;
  left: 191px;
  width: 1057px;
  height: 500px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-600);
}
.div130,
.tone-of-voice {
  position: absolute;
  top: 6627px;
  left: 705px;
  font-size: var(--font-size-3xl);
}
.tone-of-voice {
  top: 6685px;
  left: 257px;
  font-size: var(--font-size-xl);
  line-height: 24px;
  color: var(--color-lightgray-100);
  display: inline-block;
  width: 383px;
}
.div131,
.div132,
.div133,
.div134,
.div135 {
  position: absolute;
  top: 6921px;
  left: 705px;
  font-size: var(--font-size-3xl);
}
.div132,
.div133,
.div134,
.div135 {
  top: 6994px;
}
.div133,
.div134,
.div135 {
  top: 6775px;
}
.div134,
.div135 {
  top: 6848px;
}
.div135 {
  top: 6702px;
  left: 707px;
}
.pacott-child11,
.pacott-child12,
.pacott-child13,
.pacott-child14,
.pacott-child15,
.pacott-child16 {
  position: absolute;
  top: 6675.5px;
  left: 703.5px;
  border-top: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 488px;
  height: 1px;
}
.pacott-child12,
.pacott-child13,
.pacott-child14,
.pacott-child15,
.pacott-child16 {
  top: 6749.5px;
}
.pacott-child13,
.pacott-child14,
.pacott-child15,
.pacott-child16 {
  top: 6822.5px;
}
.pacott-child14,
.pacott-child15,
.pacott-child16 {
  top: 6895.5px;
}
.pacott-child15,
.pacott-child16 {
  top: 6968.5px;
}
.pacott-child16 {
  top: 7041.5px;
}
.group-child36 {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-300);
  width: 1056px;
  height: 666px;
}
.b25,
.group-child36,
.wrapper2 {
  position: absolute;
}
.b25 {
  top: 105px;
  left: 492px;
  display: inline-block;
  width: 517px;
}
.wrapper2 {
  top: 524px;
  left: calc(50% - 36px);
  border-radius: var(--br-11xl);
  background-color: var(--color-tomato-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-11xl) var(--padding-base);
  font-size: var(--font-size-5xl);
  font-family: var(--font-fixel-display);
}
.aa,
.aa-parent,
.bb,
.cc {
  position: absolute;
  top: 0;
  left: 0;
}
.aa-parent,
.bb,
.cc {
  left: 102.99px;
}
.aa-parent,
.cc {
  left: 214.11px;
}
.aa-parent {
  top: 333px;
  left: 75px;
  width: 331.11px;
  height: 124px;
  font-size: 86.73px;
  color: var(--color-gray-200);
  font-family: var(--font-malayalam-mn);
}
.group-parent6 {
  position: absolute;
  top: 14360px;
  left: 193px;
  width: 1056px;
  height: 666px;
  font-size: var(--font-size-21xl);
}
.bidribbble-icon,
.biinstagram-icon,
.bitelegram-icon {
  position: absolute;
  top: 0;
  left: 128px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.bidribbble-icon,
.bitelegram-icon {
  left: 64px;
}
.bitelegram-icon {
  left: 0;
}
.biinstagram-parent {
  position: absolute;
  top: 15797px;
  left: 1080px;
  width: 168px;
  height: 40px;
}
.hellopacottcom {
  position: absolute;
  top: 15800px;
  left: calc(50% - 529px);
  font-size: var(--font-size-13xl);
  font-weight: 500;
  color: var(--color-gray-600);
}
.pacott {
  width: 100%;
  position: relative;
  background-color: var(--color-lightgray-100);
  height: 15932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
